<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<h1 class="mt-4">게시물 등록</h1>

    <form th:action="@{/bulletin/register}" th:method="post">

      <div class="form-group">
        <label>제목</label>
        <input type="text" class="form-control" name="title" placeholder="Enter Title">
      </div>

      <div class="form-group">
        <label>내용</label>
        <textarea class="form-control" rows="15" name="content"></textarea>
      </div>

      <div class="form-group">
        <label>작성자</label>
        <input type="text" class="form-control" name="writer" placeholder="Enter writer">
      </div>

      <button type="submit" class="btn btn-primary">등록</button>

    </form>






</html>